body{
    margin: 0px;
    width: 100vw;
    height: 100vh; 
    padding: 0px;
    font-family: Arial, sans-serif;
}
.body{
    width: 100vw;
    height: 100vh; 
    margin: 0px;
}

.heading{
    text-decoration: underline aqua;
}
.navigation{
    padding: 10px;
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.navLink{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.navLink a{
    text-decoration: none;
    color: inherit;/*Takes the color of the other default text just commit*/


}
a{
    text-decoration: none;
    color: inherit;/*Takes the color of the other default text*/


}
.navLink a.active{
text-decoration: underline aqua;

}

.article-head::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: aqua;
    margin-left: 10px;
}

.icon{
    width: 50px;
    height: 20px;
    /* Just for the repository */
}